<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= 
                path === '/' ? 'active' : '' %>" href="/">Splash</a></li>
            <li class="main-header__item"><a class="<%= 
                path === '/admin/add-user' ? 'active' : '' %>" 
                href="/admin/add-user">Add User</a></li>
        </ul>
    </nav>
</header>