<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    {{#if usersCSS }}
        <link rel="stylesheet" href="/css/add-user.css">
    {{/if}}
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a 
                class="{{#if activeSplash}}active{{/if }}" href="/">Splash</a></li>

                <li class="main-header__item"><a 
                class="{{#if activeAddUser}}active{{/if }}" 
                href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>