<main>
    <h1>My Users</h1>
    {{#if hasUsers }}
        {{#each userList }}
            <p>{{ this.user }}</p>
        {{/each}}
    {{ else }}
        <p>No users registered</p>
    {{/if}}
</main>