<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Splash</a></li>
                <li class="main-header__item"><a href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Users</h1>
        {{#if hasUsers }}
            {{#each userList }}
                <p>{{ this.user }}</p>
            {{/each}}
        {{ else }}
            <p>No users registered</p>
        {{/if}}
    </main>
</body>

</html>