<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/add-user.css">
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <% if (userList.length > 0) { %>
            <h1>Registered Users</h1>
            <% for (let user of userList) { %>
                <p>- <%= user.username %></p>
            <% } %>
        <% } else { %>
            <h1>No users registered</h1>
        <% } %>
    </main>
<%- include('./includes/end.ejs') %>