<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Splash</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Splash page (this page)</a></li>
                <li><a href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Products</h1>
        <p>List of all the users...</p>
    </main>
</body>

</html>